$footer-background: #1F2022;
$footer-border: #343434;
$orange: #FBA542;
$text-white: #E4E4E4;
$orange-hover: #fba54258;
$black-32: rgba(0, 0, 0, 0.323);
$white: #FDFCFC;
$black-41: rgba(0, 0, 0, 0.41)